:host {
  display: block;
  text-align: center;
}
.main-logo {
  margin-bottom: 10px;
  width: 150px;
}
.top-bar mat-toolbar button {
  margin-right: 10px;
}
.top-bar mat-toolbar h1 {
  margin: 0;
}
